In [98]:
import foursquare as fs
import pandas as pd
import time

import json
import httplib2
import sys
import codecs
       
import re

import numpy as np

import ast

In [99]:
#df_outdoor_semi_pp1 = pd.read_csv('venue_all_details.csv',encoding = "ISO-8859-1") 

#df_food_semi_pp = pd.read_csv('venue_food_all_details.csv', encoding = "ISO-8859-1") 

df_ae_semi_pp = pd.read_csv('venue_ae_all_details.csv', encoding = "ISO-8859-1")

In [100]:
df_ae_semi_pp.columns.values

array(['Unnamed: 0', 'allowMenuUrlEdit', 'attributes', 'beenHere',
       'bestPhoto', 'canonicalUrl', 'categories', 'colors', 'contact',
       'createdAt', 'description', 'dislike', 'events', 'hasMenu',
       'hereNow', 'hierarchy', 'hours', 'id', 'inbox', 'likes', 'listed',
       'location', 'menu', 'name', 'ok', 'page', 'pageUpdates', 'parent',
       'photos', 'popular', 'rating', 'ratingColor', 'ratingSignals',
       'reasons', 'shortUrl', 'specials', 'stats', 'storeId', 'timeZone',
       'tips', 'url', 'venuePage', 'venueRatingBlacklisted', 'verified',
       'feature_1', 'feature_2', 'feature_3', 'feature_4', 'feature_5',
       'feature_6', 'feature_7', 'feature_8', 'feature_9', 'feature_10',
       'feature_11', 'feature_12', 'cat1_id', 'cat1_name', 'cat2_id',
       'cat2_name'], dtype=object)

In [101]:
df_ae_semi_pp.shape

(1905, 60)

#### Flatten "BestPhoto" column

In [102]:
### Process "BestPhoto" column
df1 = df_ae_semi_pp['bestPhoto'].apply(pd.Series)
df2 = df1[0].astype(str).str.strip('{}').str.split(', ', expand=True)
df2.drop([2,8],axis=1, inplace=True)
df2 = df2.rename(columns = {0: 'bestphoto_id', 1: 'photo_createdat', 3: 'photo_url', 4:'photo_url_prefix',5: 'photo_url_suffix',6:'photo_width',7: 'photo_height' })

In [103]:
df_ae_semi_pp = pd.concat([df_ae_semi_pp,df2],axis = 1)

In [8]:
df_food_semi_pp.columns.values

array(['Unnamed: 0', 'allowMenuUrlEdit', 'attributes', 'beenHere',
       'bestPhoto', 'canonicalUrl', 'categories', 'colors', 'contact',
       'createdAt', 'delivery', 'description', 'dislike', 'hasMenu',
       'hereNow', 'hierarchy', 'hours', 'id', 'inbox', 'likes', 'listed',
       'location', 'menu', 'name', 'ok', 'page', 'pageUpdates', 'parent',
       'photos', 'popular', 'price', 'rating', 'ratingColor',
       'ratingSignals', 'reasons', 'shortUrl', 'specials', 'stats',
       'storeId', 'timeZone', 'tips', 'url', 'venuePage',
       'venueRatingBlacklisted', 'verified', 'feature_1', 'feature_2',
       'feature_3', 'feature_4', 'feature_5', 'feature_6', 'feature_7',
       'feature_8', 'feature_9', 'feature_10', 'feature_11', 'feature_12',
       'cat1_id', 'cat1_name', 'cat2_id', 'cat2_name', 'bestphoto_id',
       'photo_createdat', 'photo_url', 'photo_url_prefix',
       'photo_url_suffix', 'photo_width', 'photo_height'], dtype=object)

#### Flatten "BeenHere" column

In [104]:
### Process "beenHere" column
df1 = df_ae_semi_pp['beenHere'].apply(pd.Series)

df1

                                                      0
0     {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1     {'count': 0, 'unconfirmedCount': 0, 'marked': ...
2     {'count': 0, 'unconfirmedCount': 0, 'marked': ...
3     {'count': 0, 'unconfirmedCount': 0, 'marked': ...
4     {'count': 0, 'unconfirmedCount': 0, 'marked': ...
5     {'count': 0, 'unconfirmedCount': 0, 'marked': ...
6     {'count': 0, 'unconfirmedCount': 0, 'marked': ...
7     {'count': 0, 'unconfirmedCount': 0, 'marked': ...
8     {'count': 0, 'unconfirmedCount': 0, 'marked': ...
9     {'count': 0, 'unconfirmedCount': 0, 'marked': ...
10    {'count': 0, 'unconfirmedCount': 0, 'marked': ...
11    {'count': 0, 'unconfirmedCount': 0, 'marked': ...
12    {'count': 0, 'unconfirmedCount': 0, 'marked': ...
13    {'count': 0, 'unconfirmedCount': 0, 'marked': ...
14    {'count': 0, 'unconfirmedCount': 0, 'marked': ...
15    {'count': 0, 'unconfirmedCount': 0, 'marked': ...
16    {'count': 0, 'unconfirmedCount': 0, 'marked': ...
17    {'count': 0, 'unconfirmedCount': 0, 'marked': ...
18    {'count': 0, 'unconfirmedCount': 0, 'marked': ...
19    {'count': 0, 'unconfirmedCount': 0, 'marked': ...
20    {'count': 0, 'unconfirmedCount': 0, 'marked': ...
21    {'count': 0, 'unconfirmedCount': 0, 'marked': ...
22    {'count': 0, 'unconfirmedCount': 0, 'marked': ...
23    {'count': 0, 'unconfirmedCount': 0, 'marked': ...
24    {'count': 0, 'unconfirmedCount': 0, 'marked': ...
25    {'count': 0, 'unconfirmedCount': 0, 'marked': ...
26    {'count': 0, 'unconfirmedCount': 0, 'marked': ...
27    {'count': 0, 'unconfirmedCount': 0, 'marked': ...
28    {'count': 0, 'unconfirmedCount': 0, 'marked': ...
29    {'count': 0, 'unconfirmedCount': 0, 'marked': ...
...                                                 ...
1875  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1876  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1877  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1878  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1879  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1880  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1881  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1882  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1883  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1884  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1885  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1886  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1887  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1888  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1889  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1890  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1891  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1892  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1893  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1894  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1895  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1896  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1897  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1898  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1899  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1900  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1901  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1902  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1903  {'count': 0, 'unconfirmedCount': 0, 'marked': ...
1904  {'count': 0, 'unconfirmedCount': 0, 'marked': ...

[1905 rows x 1 columns]

In [105]:
df2 = df1[0].astype(str).str.strip('{}').str.split(', ', expand=True)
df2[0]=df2[0].str.replace("'count':" , '')

In [106]:
df2 = df2.drop([1,2,3],axis=1)

In [107]:
df_ae_semi_pp = pd.concat([df_ae_semi_pp,df2],axis = 1)

In [110]:
df_food_semi_pp.columns.values

array(['name', 'id', 'description', 'cat1_id', 'cat1_name', 'cat2_id',
       'cat2_name', 'address', 'crossStreet', 'lat', 'lng', 'city',
       'state', 'postalCode', 'open_status', 'dayData', 'isOpen',
       'isLocalHoliday', 'timeframe', 'parent_name', 'parent_id',
       'credit_card', 'wifi', 'outdoorSeating', 'reservations', 'drinks',
       'been_here_count', 'bestphoto_id', 'photo_createdat', 'photo_url',
       'photo_url_prefix', 'photo_url_suffix', 'photo_width',
       'photo_height', 'canonicalUrl', 'contact', 'createdAt', 'dislike',
       'hasMenu', 'likes', 'listed', 'menu', 'parent', 'photos',
       'popular', 'rating', 'ratingColor', 'ratingSignals', 'reasons',
       'shortUrl', 'specials', 'stats', 'timeZone', 'tips', 'url',
       'venuePage', 'venueRatingBlacklisted', 'price_tier',
       'price_tier_category', 'delivery_provider', 'delivery_url',
       'serves'], dtype=object)

In [108]:
df_ae_semi_pp.rename(columns = {0: 'been_here_count'}, inplace=True)

In [109]:
df_ae_semi_pp = df_ae_semi_pp.drop(['Unnamed: 0','allowMenuUrlEdit',
                                             'beenHere','bestPhoto', 'categories','colors','hereNow','inbox','ok',
                                             'page','pageUpdates', 'storeId','verified'], axis=1)

#### Flatten "Location" column

In [111]:
#df_outdoor_semi_pp['location']
df1 = df_ae_semi_pp['location'].apply(pd.Series)

In [176]:
# Method 1
string = "{'address': 'S Sepulveda Blvd', 'crossStreet':0}"
re.search(r"address':(.*?),", string).group(1) 

# Method 2
mydict = ast.literal_eval(df1[0][2]) 
if 'address' in mydict:
    value = mydict['address']

In [112]:
#df1 = pd.concat([df1,pd.DataFrame(columns=list('address'))])
df1['address'] = None
df1['crossStreet'] = None
df1['lat'] = None
df1['lng'] = None
df1['city'] = None
df1['state'] = None
df1['postalCode'] = None

In [38]:
df1

,0,address,crossStreet,lat,lng,city,state,postalCode
0,"{'address': 'S Sepulveda Blvd', 'crossStreet':...",None,None,None,None,None,None,None
1,"{'address': '927 W Manchester Blvd', 'crossStr...",None,None,None,None,None,None,None
2,"{'address': 'Along the Strand', 'crossStreet':...",None,None,None,None,None,None,None
3,"{'address': 'Sepulveda Blvd', 'crossStreet': '...",None,None,None,None,None,None,None
4,"{'address': '21110 Pacific Coast Hwy', 'lat': ...",None,None,None,None,None,None,None
5,"{'address': '20800 Entrada Rd', 'lat': 34.0932...",None,None,None,None,None,None,None
6,"{'address': '30050 Pacific Coast Hwy', 'lat': ...",None,None,None,None,None,None,None
7,"{'crossStreet': 'Ocean Ave and Marguerita', 'l...",None,None,None,None,None,None,None
8,"{'address': 'Ocean Ave', 'crossStreet': 'btwn ...",None,None,None,None,None,None,None
9,"{'address': '1432 Palisades Beach Rd', 'crossS...",None,None,None,None,None,None,None
10,"{'address': 'Barnard Way', 'crossStreet': 'Oce...",None,None,None,None,None,None,None
11,"{'lat': 34.00039170087885, 'lng': -118.4863022...",None,None,None,None,None,None,None
12,"{'address': '2701 Barnard Way', 'crossStreet':...",None,None,None,None,None,None,None
13,"{'address': '32215 Pacific Coast Hwy', 'crossS...",None,None,None,None,None,None,None
14,"{'address': 'Ocean Front Walk', 'crossStreet':...",None,None,None,None,None,None,None
15,"{'address': 'Dell Ave', 'crossStreet': 'at How...",None,None,None,None,None,None,None
16,"{'address': '4135 Admiralty Way', 'lat': 33.97...",None,None,None,None,None,None,None
17,"{'address': '5905 Wilshire Blvd', 'lat': 34.06...",None,None,None,None,None,None,None
18,"{'address': 'Along the Strand', 'crossStreet':...",None,None,None,None,None,None,None
19,"{'lat': 34.115799227012424, 'lng': -118.353080...",None,None,None,None,None,None,None
20,"{'address': '9000 Pacific Coast Hwy', 'crossSt...",None,None,None,None,None,None,None
21,"{'address': '100 Universal Plaza', 'crossStree...",None,None,None,None,None,None,None
22,"{'address': 'The Strand', 'crossStreet': 'at P...",None,None,None,None,None,None,None
23,"{'address': '5400 Los Feliz Blvd', 'crossStree...",None,None,None,None,None,None,None
24,"{'address': 'W Observatory Trail', 'crossStree...",None,None,None,None,None,None,None
25,"{'address': 'Griffith Park Dr', 'crossStreet':...",None,None,None,None,None,None,None
26,"{'address': '1200 Getty Center Dr', 'lat': 34....",None,None,None,None,None,None,None
27,"{'address': '1200 Getty Center Dr', 'lat': 34....",None,None,None,None,None,None,None
28,"{'address': '1200 Getty Center Dr', 'lat': 34....",None,None,None,None,None,None,None
29,"{'address': '5905 Wilshire Blvd', 'crossStreet...",None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...
1197,"{'lat': 33.60833409148612, 'lng': -117.9288905...",None,None,None,None,None,None,None
1198,"{'address': '2156 E Oceanfront', 'lat': 33.602...",None,None,None,None,None,None,None
1199,"{'address': 'E Balboa Blvd', 'crossStreet': 'a...",None,None,None,None,None,None,None
1200,"{'address': 'Balboa Peninsula', 'lat': 33.5934...",None,None,None,None,None,None,None
1201,"{'address': '3001 Ocean Blvd', 'crossStreet': ...",None,None,None,None,None,None,None
1202,"{'address': 'Ocean Blvd.', 'crossStreet': 'Nar...",None,None,None,None,None,None,None
1203,"{'address': 'Ocean Blvd', 'crossStreet': 'at P...",None,None,None,None,None,None,None
1204,"{'address': 'Pelican Hill Road South', 'crossS...",None,None,None,None,None,None,None
1205,"{'address': 'North Coast Hwy', 'lat': 33.56498...",None,None,None,None,None,None,None
1206,"{'address': '8471 N Coast Hwy', 'lat': 33.5672...",None,None,None,None,None,None,None
1207,"{'address': 'Main Street, U.S.A.', 'crossStree...",None,None,None,None,None,None,None
1208,"{'address': '228 Marine Ave', 'crossStreet': '...",None,None,None,None,None,None,None
1209,"{'address': '1313 Disneyland Dr', 'crossStreet...",None,None,None,None,None,None,None
1210,"{'address': '1313 Disneyland Dr.', 'lat': 33.8...",None,None,None,None,None,None,None
1211,"{'address': 'Cars Land', 'crossStreet': 'at Di...",None,None,None,None,None,None,None
1212,"{'address': '1313 Disneyland Dr', 'crossStreet...",None,None,None,None,None,None,None
1213,{'address': 'Disney California Adventure Park'...,None,None,None,None,None,None,None
1214,"{'address': '1313 Disneyland Dr', 'crossStreet...",None,None,None,None,None,None,None
1215,"{'address': '1313 Disneyland Dr', 'lat': 33.80...",None,None,None,None,None,None,None
1216,"{'address': '1580 S Disneyland Dr', 'crossStre...",None,None,None,None,None,None,None
1217,{'address': 'Disney California Adventure Park'...,None,None,None,None,None,None,None
1218,"{'address': 'Disneyland Park', 'crossStreet': ...",None,None,None,None,None,None,None
1219,"{'address': '1313 Disneyland Dr', 'crossStreet...",None,None,None,None,None,None,None
1220,"{'address': 'Disneyland Park', 'crossStreet': ...",None,None,None,None,None,None,None
1221,"{'address': '1313 Disneyland Dr', 'crossStreet...",None,None,None,None,None,None,None
1222,"{'address': 'Rivers of America, Frontierland',...",None,None,None,None,None,None,None
1223,"{'address': 'Disneyland Park', 'crossStreet': ...",None,None,None,None,None,None,None
1224,"{'address': 'Frontierland', 'crossStreet': 'at...",None,None,None,None,None,None,None
1225,"{'address': 'Disneyland Park', 'crossStreet': ...",None,None,None,None,None,None,None
1226,"{'address': 'Fantasyland', 'crossStreet': 'at ...",None,None,None,None,None,None,None

In [113]:
for i, row in df1.iterrows():
    mydict = ast.literal_eval(df1[0][i]) 
    if 'address' in mydict:
        value_addr = mydict['address']
    else:
        value_addr = 'na'
    df1['address'][i] = value_addr   
    
    if 'crossStreet' in mydict:
        value_cs = mydict['crossStreet']
    else:
        value_cs = 'na'
    df1['crossStreet'][i] = value_cs 
        
    if 'lat' in mydict:
        value_lat = mydict['lat']
    else:
        value_lat = 'na'
    df1['lat'][i] = value_lat 
    
    if 'lng' in mydict:
        value_lng = mydict['lng']
    else:
        value_lng = 'na'
    df1['lng'][i] = value_lng 
    
    if 'city' in mydict:
        value_city = mydict['city']
    else:
        value_city = 'na'
    df1['city'][i] = value_city 
    
    if 'state' in mydict:
        value_state = mydict['state']
    else:
        value_state = 'na'
    df1['state'][i] = value_state 
    
    if 'postalCode' in mydict:
        value_pc = mydict['postalCode']
    else:
        value_pc = 'na'
    df1['postalCode'][i] = value_pc

In [114]:
df1.drop([0],axis =1, inplace=True)
df1

,address,crossStreet,lat,lng,city,state,postalCode
0,6661 W Imperial Hwy,W of Sepulveda Blvd,33.9321,-118.405,Los Angeles,CA,90045
1,113-117 Sierra St,El Segundo,33.9169,-118.409,El Segundo,CA,90245
2,113 Main St,na,33.9168,-118.416,El Segundo,CA,90245
3,140 Richmond St,na,33.9176,-118.417,El Segundo,CA,90245
4,831 S Nash St,at Rosecrans Ave,33.903,-118.389,El Segundo,CA,90245
5,na,na,33.9248,-118.392,El Segundo,CA,90245
6,na,na,33.9458,-118.391,Los Angeles,CA,90045
7,na,na,33.9458,-118.389,Los Angeles,CA,90045
8,8301 Hindry Ave,83rd St,33.9634,-118.374,Los Angeles,CA,90045
9,831 S Nash St,na,33.9195,-118.405,El Segundo,CA,90245
10,5855 W Century Blvd,Airport Blvd,33.9464,-118.385,Los Angeles,CA,90045
11,640 Main St,na,33.9248,-118.415,El Segundo,CA,90245
12,150 Sierra St,na,33.9179,-118.409,El Segundo,CA,90245
13,401 Sheldon St,Grand Ave. & Eucalyptus Dr.,33.9204,-118.413,El Segundo,CA,90245
14,115 Penn St,na,33.9169,-118.41,El Segundo,CA,90245
15,5581 W Manchester Ave,na,33.9602,-118.378,Los Angeles,CA,90045
16,9100 S Sepulveda Blvd,na,33.9541,-118.396,Los Angeles,CA,90045
17,8939 S Sepulveda Blvd #105,na,33.9547,-118.397,Los Angeles,CA,90045
18,113 Grand,na,33.9191,-118.417,El Segundo,CA,na
19,208 Main St,na,33.9182,-118.416,El Segundo,CA,90245
20,na,na,33.9556,-118.397,Los Angeles,CA,na
21,730 S Allied Way,Suite G,33.9066,-118.391,El Segundo,CA,90245
22,6508 W 83rd St,na,33.9635,-118.402,Los Angeles,CA,90045
23,23200 Pacific Coast Hwy,na,34.0344,-118.68,Malibu,CA,90265
24,24255 Pacific Coast Hwy,na,34.0349,-118.703,Malibu,CA,90263
25,17985 Pacific Coast Hwy,na,34.0448,-118.565,Pacific Palisades,CA,90272
26,19785 Pacific Coast Highway,na,34.0425,-118.566,Palisades,CA,90272
27,na,na,34.0453,-118.565,Los Angeles,CA,na
28,1419 N Topanga Canyon Blvd,na,34.1113,-118.593,Topanga,CA,90290
29,Pepperdine University,na,34.0394,-118.708,Malibu,CA,90263
...,...,...,...,...,...,...,...
1875,1050 Crespi Dr,at Barcelona Dr,37.5912,-122.487,Pacifica,CA,94044
1876,1220 Linda Mar Blvd,na,37.5836,-122.487,Pacifica,CA,94044
1877,1220 Linda Mar Blvd,na,37.5836,-122.486,Pacifica,CA,94044
1878,1220 Linda Mar Blvd,na,37.5836,-122.486,Pacifica,CA,94044
1879,1025 Terra Nova Blvd,at Oddstad Blvd,37.5831,-122.476,Pacifica,CA,94044
1880,na,na,37.6535,-122.452,South San Francisco,CA,94080
1881,901 Cherry Ave,na,37.6281,-122.426,San Bruno,CA,94066
1882,222 Mosswood Way,na,37.6416,-122.426,South San Francisco,CA,94080
1883,120 Hazelwood Dr,btwn Kenwood & Mosswood Way,37.6423,-122.426,South San Francisco,CA,94080
1884,356 El Camino Real,na,37.6204,-122.411,San Bruno,CA,94066
1885,527 San Mateo Avenue,Sylvan Street,37.6255,-122.411,San Bruno,CA,94066
1886,"1651 El Camino Real, Millbrae, CA 94030",na,37.6131,-122.405,Millbrae,CA,94030
1887,1500 Hillside Blvd,F Street,37.6824,-122.457,Colma,CA,94014
1888,200 Main St,na,33.6589,-118,Huntington Beach,CA,92648
1889,538 Main St,na,33.6622,-117.999,Huntington Beach,CA,92648
1890,411 Olive Avenue,at 5th Street,33.6592,-118.001,Huntington Beach,CA,92648
1891,na,na,33.6772,-118.003,na,California,na
1892,na,na,33.6547,-118.001,Huntington Beach,CA,na
1893,300 Pacific Coast Hwy,na,33.658,-118,Huntington Beach,CA,92648
1894,Main St.,Downtown Huntington Beach,33.6586,-118.001,Huntington Beach,CA,92648
1895,na,na,33.6561,-118.003,Huntington Beach,CA,92648
1896,316 Olive Ave #883,Main St.,33.6599,-117.999,Huntington Beach,CA,92648
1897,na,na,33.6569,-118.003,Huntington Beach,CA,na
1898,9351 Sunridge Dr,na,33.6601,-118.002,Huntington Beach,CA,92646
1899,9322 Mokihana Dr,na,33.6473,-117.965,Huntington Beach,CA,92646
1900,9596 Hamilton Ave,na,33.6501,-117.961,Huntington Beach,CA,92646
1901,1125 Victoria St,na,33.6514,-117.946,Costa Mesa,CA,92627
1902,19171 Magnolia St,btw Garfield and Yorktown,33.6841,-117.973,Huntington Beach,CA,92646
1903,10184 Adams Ave,na,33.672,-117.951,Huntington Beach,CA,92646
1904,18956 Brookhurst St,na,33.6875,-117.952,Fountain Valley,CA,92708

In [263]:
df_outdoor_semi_pp.columns.values

array(['attributes', 'canonicalUrl', 'contact', 'createdAt',
       'description', 'dislike', 'hasMenu', 'hierarchy', 'hours', 'id',
       'likes', 'listed', 'location', 'menu', 'name', 'parent', 'photos',
       'popular', 'rating', 'ratingColor', 'ratingSignals', 'reasons',
       'shortUrl', 'specials', 'stats', 'timeZone', 'tips', 'url',
       'venuePage', 'venueRatingBlacklisted', 'feature_1', 'feature_2',
       'feature_3', 'feature_4', 'feature_5', 'cat1_id', 'cat1_name',
       'cat2_id', 'cat2_name', 'bestphoto_id', 'photo_createdat',
       'photo_url', 'photo_url_prefix', 'photo_url_suffix', 'photo_width',
       'photo_height', 'been_here_count', 'address', 'crossStreet', 'lat',
       'lng', 'city', 'state', 'postalCode', 'open_status', 'isOpen',
       'isLocalHoliday', 'dayData', 'timeframe'], dtype=object)

In [115]:
df_ae_semi_pp = pd.concat([df_ae_semi_pp,df1],axis = 1)

#### Flatten "Hours" column

In [116]:
#df_outdoor_semi_pp['location']
df1 = df_ae_semi_pp['hours'].apply(pd.Series)
df1[0][13]

nan

In [117]:
df1['open_status'] = None
df1['isOpen'] = None
df1['isLocalHoliday'] = None
df1['dayData'] = None
df1['timeframe'] = None

In [118]:
df1[0] = df1[0].replace(np.nan, "{'None': 'NA'}", regex=True)

In [119]:
for i, row in df1.iterrows():
    mydict = ast.literal_eval(df1[0][i]) 
    if 'status' in mydict:
        value_stat = mydict['status']
    else:
        value_stat = 'na'
    df1['open_status'][i] = value_stat  
    
    if 'isOpen' in mydict:
        value_isopen = mydict['isOpen']
    else:
        value_isopen = 'na'
    df1['isOpen'][i] = value_isopen 
        
    if 'isLocalHoliday' in mydict:
        value_hol = mydict['isLocalHoliday']
    else:
        value_hol = 'na'
    df1['isLocalHoliday'][i] = value_hol 
    
    if 'dayData' in mydict:
        value_dd = mydict['dayData']
    else:
        value_dd = 'na'
    df1['dayData'][i] = value_dd 
    
    if 'timeframes' in mydict:
        value_tf = mydict['timeframes']
    else:
        value_tf = 'na'
    df1['timeframe'][i] = value_tf

In [120]:
df1.drop([0],axis =1, inplace=True)
df1

,open_status,isOpen,isLocalHoliday,dayData,timeframe
0,na,na,na,na,na
1,na,na,na,na,na
2,na,na,na,na,na
3,na,na,na,na,na
4,na,na,na,na,na
5,na,na,na,na,na
6,na,na,na,na,na
7,na,na,na,na,na
8,na,na,na,na,na
9,na,na,na,na,na
10,na,na,na,na,na
11,na,na,na,na,na
12,Open,True,False,[],"[{'days': 'MonSun', 'includesToday': True, 'o..."
13,na,na,na,na,na
14,na,na,na,na,na
15,na,na,na,na,na
16,na,na,na,na,na
17,na,na,na,na,na
18,na,na,na,na,na
19,na,na,na,na,na
20,na,na,na,na,na
21,na,na,na,na,na
22,na,na,na,na,na
23,na,na,na,na,na
24,na,na,na,na,na
25,Closed until 10:00 AM tomorrow,False,False,[],"[{'days': 'Mon, WedFri, Sun', 'open': [{'rend..."
26,na,na,na,na,na
27,na,na,na,na,na
28,na,na,na,na,na
29,na,na,na,na,na
...,...,...,...,...,...
1875,na,na,na,na,na
1876,na,na,na,na,na
1877,na,na,na,na,na
1878,na,na,na,na,na
1879,na,na,na,na,na
1880,na,na,na,na,na
1881,na,na,na,na,na
1882,na,na,na,na,na
1883,na,na,na,na,na
1884,na,na,na,na,na
1885,na,na,na,na,na
1886,na,na,na,na,na
1887,Closed until 10:00 AM tomorrow,False,False,[],"[{'days': 'TueFri', 'includesToday': True, 'o..."
1888,na,na,na,na,na
1889,na,na,na,na,na
1890,na,na,na,na,na
1891,na,na,na,na,na
1892,na,na,na,na,na
1893,na,na,na,na,na
1894,na,na,na,na,na
1895,na,na,na,na,na
1896,na,na,na,na,na
1897,na,na,na,na,na
1898,na,na,na,na,na
1899,na,na,na,na,na
1900,na,na,na,na,na
1901,na,na,na,na,na
1902,na,na,na,na,na
1903,na,na,na,na,na
1904,na,na,na,na,na

In [121]:
df_ae_semi_pp = pd.concat([df_ae_semi_pp,df1],axis = 1)

In [122]:
df_ae_semi_pp.drop(['isOpen','isLocalHoliday', 'timeframe'],axis =1, inplace=True)

# because we are using "popular" to get these fields

#### Flatten "popular" column

In [123]:
df1 = df_ae_semi_pp['popular'].apply(pd.Series)
df1[0][26]

"{'isOpen': False, 'isLocalHoliday': False, 'timeframes': [{'days': 'Today', 'includesToday': True, 'open': [{'renderedTime': 'None'}], 'segments': []}, {'days': 'Wed', 'open': [{'renderedTime': '9:00 AM\x963:00 PM'}], 'segments': []}, {'days': 'Thu', 'open': [{'renderedTime': '10:00 AM\x965:00 PM'}], 'segments': []}, {'days': 'Fri', 'open': [{'renderedTime': '9:00 AM\x966:00 PM'}], 'segments': []}, {'days': 'Sat\x96Sun', 'open': [{'renderedTime': '10:00 AM\x966:00 PM'}], 'segments': []}, {'days': 'Mon', 'open': [{'renderedTime': '10:00 AM\x966:00 PM'}], 'segments': []}]}"

In [124]:
df1['isOpen'] = None
df1['isLocalHoliday'] = None
df1['timeframe'] = None

In [125]:
df1[0] = df1[0].replace(np.nan, "{'None': 'NA'}", regex=True)

In [126]:
for i, row in df1.iterrows():
    mydict = ast.literal_eval(df1[0][i]) 
    if 'isOpen' in mydict:
        value_isopen = mydict['isOpen']
    else:
        value_isopen = 'na'
    df1['isOpen'][i] = value_isopen 
        
    if 'isLocalHoliday' in mydict:
        value_hol = mydict['isLocalHoliday']
    else:
        value_hol = 'na'
    df1['isLocalHoliday'][i] = value_hol 
         
    if 'timeframes' in mydict:
        value_tf = mydict['timeframes']
    else:
        value_tf = 'na'
    df1['timeframe'][i] = value_tf

In [127]:
df1.drop([0],axis =1, inplace=True)

In [128]:
df_ae_semi_pp = pd.concat([df_ae_semi_pp,df1],axis = 1)

In [36]:
df_food_semi_pp.columns.values

array(['attributes', 'canonicalUrl', 'contact', 'createdAt', 'delivery',
       'description', 'dislike', 'hasMenu', 'hierarchy', 'hours', 'id',
       'likes', 'listed', 'location', 'menu', 'name', 'parent', 'photos',
       'popular', 'price', 'rating', 'ratingColor', 'ratingSignals',
       'reasons', 'shortUrl', 'specials', 'stats', 'timeZone', 'tips',
       'url', 'venuePage', 'venueRatingBlacklisted', 'feature_1',
       'feature_2', 'feature_3', 'feature_4', 'feature_5', 'feature_6',
       'feature_7', 'feature_8', 'feature_9', 'feature_10', 'feature_11',
       'feature_12', 'cat1_id', 'cat1_name', 'cat2_id', 'cat2_name',
       'bestphoto_id', 'photo_createdat', 'photo_url', 'photo_url_prefix',
       'photo_url_suffix', 'photo_width', 'photo_height',
       'been_here_count', 'address', 'crossStreet', 'lat', 'lng', 'city',
       'state', 'postalCode', 'open_status', 'dayData', 'isOpen',
       'isLocalHoliday', 'timeframe'], dtype=object)

#### Flatten "Hierarchy" column

In [129]:
df1 = df_ae_semi_pp['hierarchy'].apply(pd.Series)

In [130]:
df1['parent_name'] = None
df1['parent_id'] = None

In [131]:
df1[0] = df1[0].replace(np.nan, "NA", regex=True)

In [40]:
df1[0][0]

'NA'

In [132]:
df1[0] = df1[0].str.replace(r"[\[\]']", '')

In [325]:
string = "{name: Los Angeles International Airport, lang: en, id: 439ec330f964a520102c1fe3, canonicalUrl: https://foursquare.com/v/los-angeles-international-airport-lax/439ec330f964a520102c1fe3}"
re.search(r"name:(.*?),", string).group(1)

' Los Angeles International Airport'

In [133]:
for i, row in df1.iterrows():
    if df1[0][i] == 'NA':
        value_name = 'na'
        value_id = 'na'
    else:    
        string = df1[0][i]
        value_name = re.search(r"name:(.*?),", string).group(1)  
        value_id = re.search(r"id:(.*?),", string).group(1)  
           
    df1['parent_name'][i] = value_name 
    df1['parent_id'][i] = value_id

In [134]:
df1.drop([0],axis =1, inplace=True)

In [135]:
df_ae_semi_pp = pd.concat([df_ae_semi_pp,df1],axis = 1)

#### Flatten "Attribute" column

In [136]:
df1 = df_ae_semi_pp['attributes'].apply(pd.Series)

In [137]:
#df1[0][0]  

mydict = ast.literal_eval(df1[0][26]) 
if 'groups' in mydict:
    value = mydict['groups']
    #value = value.str.replace(r"[\[\]']", '')
    print (len(value))
    print (value)
    print (value[0]['type'] == 'payments')
    print (value[0]['name'])
    print (value[0]['items'][0]['displayName'])
    print (value[0]['items'][0]['displayValue'])
    print (value[1]['type'] == 'wifi')

1
[{'type': 'payments', 'name': 'Credit Cards', 'summary': 'Credit Cards', 'count': 7, 'items': [{'displayName': 'Credit Cards', 'displayValue': 'Yes'}]}]
True
Credit Cards
Credit Cards
Yes

IndexError: list index out of range

In [138]:
df1['credit_card'] = None
df1['wifi'] = None
df1['outdoorSeating'] = None
df1['reservations'] = None
df1['drinks'] = None

In [139]:
for i, row in df1.iterrows():
    mydict = ast.literal_eval(df1[0][i])
    #print ("mydict  = ", mydict)
    if 'groups' in mydict:
        value = mydict['groups']
        #print ('value', value)
        if not value:
            df1['credit_card'][i] = 'NA'  
            df1['wifi'][i] = 'NA'
            df1['outdoorSeating'][i] = 'NA'
            df1['reservations'][i] = 'NA'
            df1['drinks'][i] = 'NA'
        else:
            for x in range(len(value)):
                #print ('length of list', len(value))
                if value[x]['type'] == 'payments':
                    df1['credit_card'][i] = value[x]['items'][0]['displayValue']
                    #print ('CC', df1['credit_card'][i])
                
                if value[x]['type'] == 'wifi':
                    df1['wifi'][i] = value[x]['items'][0]['displayValue']
                    #print ('CC', df1['wifi'][i])
                    
                if value[x]['type'] == 'outdoorSeating':
                    df1['outdoorSeating'][i] = value[x]['items'][0]['displayValue']
                    #print ('seat', df1['outdoorSeating'][i])
                
                if value[x]['type'] == 'reservations':
                    df1['reservations'][i] = value[x]['items'][0]['displayValue']
                    #print ('reservations', df1['reservations'][i])
                
                if value[x]['type'] == 'drinks':
                    df1['drinks'][i] = value[x]['items'][0]['displayValue']
                    #print ('drinks', df1['drinks'][i])
    else:            
        df1['credit_card'][i] = 'NA'  
        df1['wifi'][i] = 'NA'
        df1['outdoorSeating'][i] = 'NA'
        df1['reservations'][i] = 'NA'
        df1['drinks'][i] = 'NA'

In [50]:
df1

,0,credit_card,wifi,outdoorSeating,reservations,drinks
0,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes,Yes,Yes,No,Beer
1,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,None,None,None
2,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,None,None,None
3,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,None,None,None
4,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes (incl. Visa & Discover),None,Yes,No,None
5,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes (incl. Discover & Visa),None,No,No,None
6,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes (incl. Discover & Visa),None,No,No,None
7,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes,None,Yes,None,None
8,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes,Yes,Yes,No,None
9,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,No,No,None
10,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,None,None,None
11,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,Yes,None,None
12,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,None,None,None
13,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,None,No,None
14,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,Yes,No,None
15,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,No,No,Wine
16,"{'groups': [{'type': 'outdoorSeating', 'name':...",None,None,No,None,None
17,"{'groups': [{'type': 'price', 'name': 'Price',...",None,No,None,None,None
18,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,No,None,None
19,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,Yes,None,None
20,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes (incl. Discover & Visa),None,No,No,None
21,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,None,None,None
22,"{'groups': [{'type': 'price', 'name': 'Price',...",None,No,No,No,Full Bar
23,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes,None,No,No,Full Bar
24,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,None,None,None
25,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes,None,No,No,Beer
26,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes,None,Yes,No,None
27,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes,None,None,None,None
28,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes (incl. Discover & Visa),None,None,No,None
29,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,None,None,None
...,...,...,...,...,...,...
4259,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,Yes,Yes,Wine
4260,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes,No,No,Yes,None
4261,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes,No,Yes,No,None
4262,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,No,None,None
4263,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,None,None,None
4264,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes (incl. NFC Payments & American Express),None,Yes,None,None
4265,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes (incl. American Express & MasterCard),None,No,Yes,None
4266,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,Yes,None,None
4267,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes (incl. American Express & MasterCard),None,None,None,None
4268,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes (incl. Discover & Visa),None,Yes,None,None
4269,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes (incl. Visa & MasterCard),None,Yes,None,None
4270,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes (incl. Discover & Visa),None,Yes,None,None
4271,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes,None,None,None,None
4272,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes (incl. Discover & Visa),None,No,No,Beer
4273,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,No,None,None
4274,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes (incl. Discover & Visa),None,No,Yes,None
4275,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes (incl. Discover & Visa),None,Yes,No,None
4276,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes (incl. NFC Payments),None,Yes,None,None
4277,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes,None,Yes,No,None
4278,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes,None,No,None,None
4279,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes,None,None,None,Cocktails
4280,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes (incl. Discover & American Express),None,No,None,None
4281,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,None,None,None
4282,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes (incl. NFC Payments & American Express),None,None,None,None
4283,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes (incl. American Express),None,None,None,None
4284,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes,None,None,None,None
4285,"{'groups': [{'type': 'price', 'name': 'Price',...",Yes (incl. NFC Payments),None,None,None,None
4286,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,None,None,None
4287,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,None,None,None
4288,"{'groups': [{'type': 'price', 'name': 'Price',...",None,None,No,No,None

In [140]:
df1.drop([0],axis =1, inplace=True)

In [141]:
df_ae_semi_pp = pd.concat([df_ae_semi_pp,df1],axis = 1)

In [70]:
df_food_semi_pp.columns.values

array(['attributes', 'canonicalUrl', 'contact', 'createdAt', 'delivery',
       'description', 'dislike', 'hasMenu', 'hierarchy', 'hours', 'id',
       'likes', 'listed', 'location', 'menu', 'name', 'parent', 'photos',
       'popular', 'price', 'rating', 'ratingColor', 'ratingSignals',
       'reasons', 'shortUrl', 'specials', 'stats', 'timeZone', 'tips',
       'url', 'venuePage', 'venueRatingBlacklisted', 'feature_1',
       'feature_2', 'feature_3', 'feature_4', 'feature_5', 'feature_6',
       'feature_7', 'feature_8', 'feature_9', 'feature_10', 'feature_11',
       'feature_12', 'cat1_id', 'cat1_name', 'cat2_id', 'cat2_name',
       'bestphoto_id', 'photo_createdat', 'photo_url', 'photo_url_prefix',
       'photo_url_suffix', 'photo_width', 'photo_height',
       'been_here_count', 'address', 'crossStreet', 'lat', 'lng', 'city',
       'state', 'postalCode', 'open_status', 'dayData', 'isOpen',
       'isLocalHoliday', 'timeframe', 'parent_name', 'parent_id',
       'credit_card', 'wifi', 'outdoorSeating', 'reservations', 'drinks',
       'price_tier', 'price_tier_category'], dtype=object)

#### Flatten 'Price' column (only available for food)

In [57]:
df1 = df_food_semi_pp['price'].apply(pd.Series)

In [59]:
df1['price_tier'] = None
df1['price_tier_category'] = None

In [63]:
df1[0] = df1[0].replace(np.nan, "NA", regex=True)

In [67]:
df1

,0,price_tier,price_tier_category
0,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
1,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
2,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
3,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
4,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
5,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
6,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
7,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
8,"{'tier': 2, 'message': 'Moderate', 'currency':...",2,Moderate
9,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
10,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
11,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
12,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
13,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
14,"{'tier': 2, 'message': 'Moderate', 'currency':...",2,Moderate
15,"{'tier': 2, 'message': 'Moderate', 'currency':...",2,Moderate
16,NA,na,na
17,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
18,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
19,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
20,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
21,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
22,"{'tier': 3, 'message': 'Expensive', 'currency'...",3,Expensive
23,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
24,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
25,"{'tier': 2, 'message': 'Moderate', 'currency':...",2,Moderate
26,"{'tier': 2, 'message': 'Moderate', 'currency':...",2,Moderate
27,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
28,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
29,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
...,...,...,...
4259,"{'tier': 2, 'message': 'Moderate', 'currency':...",2,Moderate
4260,"{'tier': 2, 'message': 'Moderate', 'currency':...",2,Moderate
4261,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
4262,"{'tier': 2, 'message': 'Moderate', 'currency':...",2,Moderate
4263,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
4264,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
4265,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
4266,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
4267,"{'tier': 2, 'message': 'Moderate', 'currency':...",2,Moderate
4268,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
4269,"{'tier': 2, 'message': 'Moderate', 'currency':...",2,Moderate
4270,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
4271,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
4272,"{'tier': 3, 'message': 'Expensive', 'currency'...",3,Expensive
4273,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
4274,"{'tier': 4, 'message': 'Very Expensive', 'curr...",4,Very Expensive
4275,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
4276,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
4277,"{'tier': 2, 'message': 'Moderate', 'currency':...",2,Moderate
4278,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
4279,"{'tier': 4, 'message': 'Very Expensive', 'curr...",4,Very Expensive
4280,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
4281,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
4282,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
4283,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
4284,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
4285,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
4286,"{'tier': 1, 'message': 'Cheap', 'currency': '$'}",1,Cheap
4287,"{'tier': 2, 'message': 'Moderate', 'currency':...",2,Moderate
4288,"{'tier': 2, 'message': 'Moderate', 'currency':...",2,Moderate

In [66]:
for i, row in df1.iterrows():
    if df1[0][i] == 'NA':
        value_tier = 'na'
        value_category = 'na'
    else:    
        mydict = ast.literal_eval(df1[0][i])
        value_tier = mydict['tier'] 
        value_category = mydict['message'] 
           
    df1['price_tier'][i] = value_tier 
    df1['price_tier_category'][i] = value_category

In [68]:
df1.drop([0],axis =1, inplace=True)

In [69]:
df_food_semi_pp = pd.concat([df_food_semi_pp,df1],axis = 1)

#### Flatten 'Delivery' column (only available for food)

In [71]:
df1 = df_food_semi_pp['delivery'].apply(pd.Series)

In [75]:
df1[0][2]

"{'id': '319308', 'url': 'https://www.grubhub.com/restaurant/bread--butter-630-n-sepulveda-blvd-el-segundo/319308?affiliate=1131&utm_source=foursquare-affiliate-network&utm_medium=affiliate&utm_campaign=1131&utm_content=319308', 'provider': {'name': 'grubhub', 'icon': {'prefix': 'https://fastly.4sqi.net/img/general/cap/', 'sizes': [40, 50], 'name': '/delivery_provider_grubhub_20180129.png'}}}"

In [78]:
df1[0] = df1[0].replace(np.nan, "NA", regex=True)

In [76]:
df1['delivery_provider'] = None
df1['delivery_url'] = None

In [80]:
for i, row in df1.iterrows():
    if df1[0][i] == 'NA':
        value_url = 'na'
        value_provider = 'na'
    else:    
        mydict = ast.literal_eval(df1[0][i])
        value_url = mydict['url'] 
        if 'provider' in mydict:
            value = mydict['provider']
            value_provider = value['name'] 
                    
    df1['delivery_provider'] [i] = value_provider 
    df1['delivery_url'] [i] = value_url

In [82]:
df1.drop([0],axis =1, inplace=True)

In [83]:
df_food_semi_pp = pd.concat([df_food_semi_pp,df1],axis = 1)

#### Flatten "Serves" from Attribute (only for food)

In [84]:
df1 = df_food_semi_pp['attributes'].apply(pd.Series)

In [85]:
df1['serves'] = None

In [87]:
for i, row in df1.iterrows():
    mydict = ast.literal_eval(df1[0][i])
    if 'groups' in mydict:
        value = mydict['groups']
        if not value:
            df1['serves'][i] = 'NA'  
        else:
            for x in range(len(value)):
                if value[x]['type'] == 'serves':
                    df1['serves'][i] = value[x]['summary']
    else:            
        df1['serves'][i] = 'NA'

In [89]:
df1.drop([0],axis =1, inplace=True)

In [90]:
df_food_semi_pp = pd.concat([df_food_semi_pp,df1],axis = 1)

#### formatting

In [142]:
df_ae_semi_pp.drop(['attributes','hierarchy','hours','location','feature_1', 'feature_2',
       'feature_3', 'feature_4', 'feature_5','feature_6', 'feature_7',
       'feature_8', 'feature_9', 'feature_10', 'feature_11', 'feature_12'],axis =1, inplace=True)

In [143]:
df_ae_semi_pp.columns.values

array(['canonicalUrl', 'contact', 'createdAt', 'description', 'dislike',
       'events', 'hasMenu', 'id', 'likes', 'listed', 'menu', 'name',
       'parent', 'photos', 'popular', 'rating', 'ratingColor',
       'ratingSignals', 'reasons', 'shortUrl', 'specials', 'stats',
       'timeZone', 'tips', 'url', 'venuePage', 'venueRatingBlacklisted',
       'cat1_id', 'cat1_name', 'cat2_id', 'cat2_name', 'bestphoto_id',
       'photo_createdat', 'photo_url', 'photo_url_prefix',
       'photo_url_suffix', 'photo_width', 'photo_height',
       'been_here_count', 'address', 'crossStreet', 'lat', 'lng', 'city',
       'state', 'postalCode', 'open_status', 'dayData', 'isOpen',
       'isLocalHoliday', 'timeframe', 'parent_name', 'parent_id',
       'credit_card', 'wifi', 'outdoorSeating', 'reservations', 'drinks'],
      dtype=object)

In [144]:
df_ae_semi_pp = df_ae_semi_pp[['name','id', 'description', 'cat1_id', 'cat1_name', 'cat2_id', 'cat2_name','address', 'crossStreet', 'lat', 'lng', 'city',
       'state', 'postalCode', 'open_status', 'dayData', 'isOpen',
       'isLocalHoliday', 'timeframe', 'parent_name', 'parent_id',
       'credit_card', 'wifi', 'outdoorSeating', 'reservations', 'drinks', 'been_here_count','bestphoto_id',
       'photo_createdat', 'photo_url', 'photo_url_prefix',
       'photo_url_suffix', 'photo_width', 'photo_height','canonicalUrl', 'contact', 'createdAt', 'dislike',
       'hasMenu', 'likes', 'listed', 'menu', 'parent',
       'photos', 'popular', 'rating', 'ratingColor', 'ratingSignals',
       'reasons', 'shortUrl', 'specials', 'stats', 'timeZone', 'tips',
       'url', 'venuePage', 'venueRatingBlacklisted','events']]

In [145]:
df_ae_semi_pp.to_csv('ae_clean.csv')